body {
  font-family: 'Montserrat';
  text-align: center;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: #fff;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

.big-heading {
  font-family: "Montserrat-Black";
font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding: 0 0 5%;
}

/* Navbar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}

/* Title Section */

#title {
  text-align: left;
  position: relative;
  z-index: 0;
}

#title .container-fluid {
  padding: 5% 15% 7%;
}

.dog-img {
  transform: rotate(25deg);
  padding-top: 5%;
  width: 60%;
  position: absolute;
  right: 30%;
}

.dowload-button {
  margin: 5% 3% 5% 0;
}

/* Features Section */
#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

#testimonials .container-fluid {
  padding: 5% 15% 3%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
}

#press .container-fluid {
  padding: 5% 15% 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Media Query */
@media (max-width: 1280px) {
  #title {
    text-align: center;
  }

  .dog-img {
    position: static;
    transform: rotate(0);
  }
}

/*Call to Action */


.dowload-button-2 {
  margin: 0 1%;
}

/* Footer Section */
#footer {
}

.sm-icons {
  padding: 20px 10px;
}
